html {
    overflow-y: scroll;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: left;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    background: #191919 url(/themepack/vkdark/0.0.1.0/resource/1.png) repeat-x;
    color: #eaeaea;
}
span {
    padding: 0 0 2px;
    color: #d7d7d7;
    font-weight: bold;
}
.nobold {
    font-weight: normal;
    color: #d7d7d7;
}
a {
    text-decoration: none;
    color: #bbb;
    cursor: pointer;
}
.layout {
    width: 791px;
    margin: 0 auto;
}
.page_header {
    position: relative;
    width: 791px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: 0;
    background: url(/themepack/vkdark/0.0.1.0/resource/1.png) repeat-x;
}
#page_act {
    border-bottom: 1px solid #d5dde6;
    padding: 2px 10px 5px 10px;
    color: #2b587a;
    width: 608px;
    margin-left: -10px;
}
.home_button {
    position: absolute;
    width: 145px;
    text-indent: -999px;
    height: 42px;
    background: url(https://i.imgur.com/fgT70d9.png) no-repeat;
	/* на нг https://i.imgur.com/j42w8Pm.png) */
	/* стандарт https://i.imgur.com/fgT70d9.png) */
    background-position-y: 0px;
    background-position-x: 7px;
}
.home_button:active {
    width: 145px;
    text-indent: -999px;
    height: 42px;
    background: url(https://i.imgur.com/fgT70d9.png) no-repeat;
	/* на нг https://i.imgur.com/j42w8Pm.png) */
	/* стандарт https://i.imgur.com/fgT70d9.png) */
    background-position-y: 1px;
    background-position-x: 7px;
}
.header_navigation {
    text-align: center;
    line-height: 20px;
    padding-right: 0px;
    text-transform: lowercase;
    float: right;
    margin-top: -2px;
}
.header_navigation .link {
    display: inline-block;
    height: 29px;
    padding: 11px 4px 0 5px;
    background-size: 1.5px 41px;
    background: none;
    margin-top: -13px;
}
.header_navigation .link a {
    color: #bfbfbf;
    text-decoration: none;
    font-weight: bold;
}
.header_navigation .link a:hover {
    text-decoration: underline;
    color: #fff;
}
.sidebar {
    width: 135px;
    margin: 4px 0 0 4px;
    float: left;
    margin-top: 1px;
}
.navigation {
    padding: 0;
}
.navigation .link {
    display: block;
    padding: 3px 3px 4px 6px;
    text-decoration: none;
    border-top: none;
    color: #bbbbbb;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    font-size: 11px;
    text-align: left;
    cursor: pointer;
    background: none;
    margin-bottom: 1px;
    border-radius: 2px;
}
.navigation .edit-button {
    display: none;
}
.navigation .link:hover {
    background-color: #353535;
    border-top: none;
}
.navigation_footer {
    padding: 0;
}
.navigation_footer .link {
    display: block;
    padding: 3px 3px 3px 6px;
    text-decoration: none;
    border-top: none;
    background: #191919;
    border-radius: 2px;
}
.navigation_footer .link:hover {
    background-color: #191919;
    border-top: none;
    background: #191919;
}
.page_body {
    width: 632px;
    float: right;
    margin-right: 15px;
    margin-top: -3px;
    font-size: 11px;
    text-align: left;
    background: #222222;
}
.wrap1 {
    border: 1px solid #191919;
    border-top: 0px;
    width: 630px;
}
.wrap2 {
    border-right: 1px solid #f6f8fa;
    border-top: 0px;
}
.profileName h2 {
    color: #e1e1e1;
    font-size: 13px;
    padding-bottom: 0px;
    margin: 0px;
    padding: 0px;
}
.page_yellowheader {
    padding: 6px 10px 3px;
    font-weight: bold;
    background: #252525;
    background-color: #252525;
    border-right: solid 1px #222222;
    border-left: solid 1px #222222;
    border-top: none;
    border-bottom: 1px solid #1e1e1e;
    color: #e1e1e1;
    height: 15px;
}
#wrapHI {
    border-right: solid 1px #1c1c1c;
    border-left: solid 1px #1c1c1c;
}
#wrapH {
    border-right: solid 1px #1a1a1a;
    border-left: solid 1px #1a1a1a;
}
.page_yellowheader span {
    color: #e1e1e1;
}
.page_yellowheader a {
    color: #e1e1e1;
}
.page_content {
    display: inline-block;
    width: 610px;
}
.page_wrap {
    border-bottom: solid 1px #fff0;
    border-left: solid 1px #fff0;
    border-right: solid 1px #fff0;
    padding: 12px;
}
#auth.page-wrap {
    border-left: solid 1px #1c1c1c;
    border-right: solid 1px #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
}
.content-main-tile {
    margin: -10px;
    margin-top: 3pt;
    padding: 7pt;
    border-top: 1px solid #ebf0f4;
    background-color: #fbfbfb;
}
.album {
    margin: 8px;
    padding: 8px;
    width: 95%;
    background-color: #fff;
    border: 1px solid #ebf0f4;
}
.album-photo {
    position: relative;
    background-color: darkgrey;
    margin: 5pt;
    width: calc(33% - 10pt);
    height: 82px;
    text-align: center;
    vertical-align: text-top;
}
.album-photo img {
    width: 100%;
    max-height: 82px;
    vertical-align: top;
}
.album-photo > .album-photo--delete {
    position: absolute;
    right: 0;
    padding: 5px;
    margin: 4px;
    color: #fff;
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 10px;
    height: 10px;
    line-height: 10px;
    opacity: 0;
    transition: 0.1s opacity ease-out;
}
.album-photo:hover > .album-photo--delete {
    opacity: 1;
}
.name-checkmark {
    margin-left: 2pt;
}
img.name-checkmark {
    margin-bottom: -1px;
    content: url(/themepack/vkdark/0.0.1.0/resource/3.png);
}
.post-author img.name-checkmark {
    content: url(/themepack/vkdark/0.0.1.0/resource/4.png);
    margin-left: 0px;
    margin-bottom: 0.3px;
    width: 10px;
}
#profile_link,
.profile_link {
    display: block;
    box-sizing: border-box;
    padding: 3px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 11px;
    color: #fff;
    width: 200px;
    text-align: left;
    cursor: pointer;
}
#profile_links {
    margin: 10px 0;
}
#profile_link:hover,
.profile_link:hover {
    background: #333;
    border-bottom: 1px solid #333;
}
.page_footer {
    margin-left: 95px;
    padding-top: 5px;
    clear: both;
    text-align: center;
}
table {
    font-size: 11px;
    text-align: left;
}
.information {
    padding: 9px;
    background-color: #c3e4ff;
}
.error {
    padding: 9px;
    background-color: #ffc3c3;
}
.page_footer .link {
    padding: 3px 7px;
    display: inline-block;
    color: #444;
    text-decoration: none;
}
.page_footer .link:hover {
    background-color: #202020;
    border-top: none;
    border-radius: 2px;
}
.content_divider {
    margin-bottom: 6px;
}
.page_info {
    margin-top: 3px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.accountInfo {
    border-bottom: solid 1px #353535;
}
.heart {
    filter: invert(100);
}
.page_status {
    font-weight: normal;
    font-size: 11px;
    padding: 3px 1px 3px;
    color: #888888;
    width: 380px;
    max-height: 39px;
    height: auto !important;
}
.button {
    border-radius: 2px;
    border: #424242;
    font-size: 11px;
    outline: none;
    white-space: nowrap;
    background: #424242;
    background-position: 0px -16px;
    color: #fff;
    padding: 4px 8px 4px;
    text-shadow: 0 1px 0 #424242;
    cursor: pointer;
    text-decoration: none;
}
input[class="button"] {
    padding: 5px 7px 4px;
    padding-top: 7px;
    padding-bottom: 7px;
}
input[class="button"]:hover {
    background: #4f4f4f;
}
input[class="button"]:active {
    background: #353535;
    padding-top: 8px;
    padding-bottom: 6px;
}
.checkbox {
    background-image: url("data:image/gif;base64,R0lGODlhDwA4AKIHANrh6P///8DK1a22wF+DpbfAy9/l6v///yH5BAEAAAcALAAAAAAPADgAAAOzKLrMJyHKGcWjOFiY5+7eBVbi+I1aCZ6m2rGrm21NrTx2LWMEwYE93yho+PF6gmKHyCJIiEVRMABNcQzBnsFAumK13K5kS9iGjNuwBPbC5RyDuHw+PwwA+LweP7Dv/wB9d4B6goSFfod8iYqGioGMh46NkYSTkpWAgnSccXadnJl/PYOHQaWAQQWoe6qrhK6MBHmujkEArpCDBVkEBQWLu7w9v3mTv77AxpG/ysusmp+gdQkAOw==");
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 14px;
    width: 14px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}
.checkbox:hover {
    background-position: 0 -28px;
}
.checkbox:checked {
    background-position: 0 -14px;
}
#auth {
    padding: 10px;
}
.left_small_block {
    float: left;
    width: 200px;
    margin-right: 10px;
    border-right: 1px #313131 solid;
}
.left_big_block {
    width: 397px;
    float: left;
    margin-right: 13px;
}
.right_small_block {
    float: right;
    width: 200px;
}
.right_big_block {
    width: 399px;
    float: right;
}
.content_title_expanded,
.content_title_unexpanded {
    background-color: #4a4a4a;
    background-image: unset !important;
    border-top: none;
    border-bottom: #4a4a4a solid 1px;
    font-weight: bold;
    color: #eee;
    font-size: 11px;
    display: block;
    pointer-events: none;
    padding: 3px 10px;
}
.content_subtitle {
    background-color: #686868;
    padding: 0;
    display: block;
    font-size: 11px;
    border-bottom: 1px solid #686868;
    color: #cacaca;
    padding: 3px 8px;
    border-top: #313131 solid 1px;
}
.content {
    padding: 8px;
}
.content-withouttop {
    padding-top: 0px;
}
input[type="text"],
input[type="password"],
input[type~="text"],
input[type~="password"],
input[type="email"],
input[type="phone"],
input[type~="email"],
input[type~="phone"],
input[type="search"],
select {
    border: 1px solid #c3cbd4;
    padding: 3px;
    font-size: 11px;
    font-family: tahoma, verdana, arial, sans-serif;
    height: 26px;
}
input[type~="search"] {
    border: 1px solid #3e3e3e;
    padding: 3px;
    font-size: 11px;
    font-family: tahoma, verdana, arial, sans-serif;
    border-radius: 3px;
    height: 24px;
    width: 169px;
    position: absolute;
    margin-left: -635px;
    margin-top: 13px;
}
input[type~="search"][name~="query"] {
    width: 169px !important;
    background: none !important;
    background-color: #3e3e3e !important;
    padding-left: 6px !important;
    background-position-y: 5px !important;
    background-position-x: 6px !important;
    padding-bottom: 5px !important;
    color: #bbbbbb;
}
input[type~="search"][name~="query"]:hover {
    width: 169px !important;
    background: none !important;
    background-color: #404040 !important;
    padding-left: 6px !important;
    background-position-y: 5px !important;
    background-position-x: 6px !important;
    padding-bottom: 5px !important;
}
h4 {
    border-bottom: 1px solid #424242;
    color: #e1e1e1;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    padding: 0px 0px 3px;
    font-family: verdana, arial, sans-serif;
}
h1 {
    color: #a8a8a8;
}
p {
    color: #e1e1e1;
}
.text {
    color: #eaeaea;
}
.post-author {
    background-color: #222222;
    border-top: #404040 solid 1px;
    border-bottom: #222222 solid 1px;
    font-size: 11px;
    padding: 3px 5px 3px;
    color: #fff;
}
.post-author .date {
    font-size: 9px;
    color: #fff;
}
.post-author b {
    color: #ececec;
}
.post-content {
    border-bottom: #404040 solid 1px;
    font-size: 9px;
}
.post-content .text {
    padding: 4px;
    font-size: 11px;
    word-break: break-word;
    word-wrap: break-word;
    hyphens: manual;
    color: #eaeaea;
}
.post-content .attachments_b {
    margin-top: 8px;
}
.attachment .post {
    width: 102%;
}
.post-content img.media {
    max-width: 100%;
    image-rendering: -webkit-optimize-contrast;
}
.post-menu {
    height: 12px;
    padding: 4px;
    font-size: 9px;
    color: #bcbcbc;
}
.post-menu > div {
    filter: grayscale(100%);
}
.post-like-button {
    color: #ffffffa3;
    filter: grayscale(100%);
}
.post-menu > a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: square;
    color: #a2a2a2;
}
span {
    padding: 0 0 2px;
    color: #e1e1e1;
    font-weight: normal;
}
#logininput {
    width: 123px;
    height: 21px;
    padding: 3px;
    border: 1px solid #c0cad5;
    font-size: 11;
    margin: 3px 0;
}
#fastLogin {
    min-width: 122px;
}
#fastLogin input {
    margin-bottom: 5px;
}
#fastLogin input[type="submit"] {
    margin-top: 5px;
}
#fastlogin input[type="text"],
#fastlogin input[type="password"] {
    width: 100%;
}
.ovk-avView {
    padding: 8px;
}
.ovk-avView--el {
    width: 32%;
    max-height: 90px;
    text-align: center;
    display: inline-block;
    vertical-align: text-top;
}
.ovk-avView--el .ava {
    max-width: 80%;
    max-height: 63px;
}
table.User {
    vertical-align: text-top;
}
.container_gray {
    background: none;
    width: 602px;
    padding: 12px;
    border-top: #fff0 solid 1px;
    margin-left: -12px;
    margin-bottom: -12px;
}
#auth .container_gray {
    margin-left: -10px;
    margin-bottom: -10px;
}
.container_gray .content {
    background: #fff;
    padding: 5px;
    border: #d9e0e7 solid 1px;
    clear: both;
}
.container_gray .content span {
    color: #b0b0b0;
}
.tabs {
    border-bottom: 1px solid #404040;
    margin-left: -12px;
    margin-right: -6px;
    width: 629px;
}
#activetabs {
    background: #404040;
    border-radius: 3px 3px 0px 0px;
}
.tab {
    display: inline-block;
    padding: 6px 6px;
    margin-left: 15px;
    padding-right: 8px;
    padding-left: 8px;
}
.tab:hover {
    border-radius: 3px 3px 0px 0px;
    background: #313131;
}
#act_tab_a {
    color: white;
}
.container_gray .content {
    background: #fff0;
    padding: 4px;
    border: #404040 solid 1px;
    clear: both;
    margin-bottom: 12px;
}
.gray-block {
    background: #f7f7f700;
    border: #404040 solid 1px;
    padding: 6px;
    margin-top: 6px;
}
.ovk-album {
    width: 100%;
}
.ovk-album:not(:first-child),
.ovk-note:not(:first-child) {
    display: inline-block;
    margin-top: 10px;
}
.msg {
    width: 70%;
    margin: auto;
    margin-bottom: 5pt;
    padding: 8pt;
    border: 1pt solid #667e96;
    background-color: #e6f2f3;
}
#wrapHI > .msg {
    margin-top: 15pt;
}
.msg.msg_succ {
    border-color: #3b584f;
    background-color: #2b4224;
}
.msg.msg_err {
    border-color: #9a205e;
    background-color: #4d2f36;
}
.edit_link {
    color: #c5c5c5;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.crp-list {
    margin: 10px -6px 0 -11px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #2b2b2b;
    max-height: 70%;
    overflow-y: auto;
}
.crp-entry {
    display: flex;
    padding: 8px;
    border-bottom: 1px solid #2b2b2b;
    cursor: pointer;
}
.crp-entry--image,
.crp-entry--info {
    margin-right: 15px;
}
.crp-entry--info {
    width: 190px;
}
.crp-entry--image > img {
    max-width: 64px;
}
.crp-entry:hover {
    background-color: #2b2b2b;
}
.crp-entry--info span {
    color: #b5b5b5;
}
.crp-entry--info a {
    font-weight: 900;
}
.crp-entry--message---av img {
    max-width: 42px;
}
.crp-entry--message---av,
.crp-entry--message---text {
    display: inline-block;
    vertical-align: top;
}
.crp-entry--message---text,
.messenger-app--messages---message .time {
    color: #c8c8c8;
}
.messenger-app--messages,
.messenger-app--input {
    padding: 10px 70px;
}
.messenger-app--messages {
    height: 360px;
    overflow-y: auto;
}
.messenger-app--messages---message,
.messenger-app--input {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.messenger-app--messages---message span {
    margin-bottom: 1.2rem;
    color: #ddd;
}
.messenger-app--messages---message .ava,
.messenger-app--input > .ava {
    max-width: 64px;
}
.messenger-app--messages---message .ava,
.messenger-app--input > .ava {
    width: 52px;
}
.messenger-app--messages---message ._content {
    padding-left: 20px;
    width: 410px;
}
.messenger-app--messages---message ._content a {
    display: block;
}
.messenger-app--messages---message .time {
    width: 100px;
}
.messenger-app--input {
    background-color: #242424;
    height: 120px;
    border-top: 1px solid #151515;
}
.messenger-app--input---messagebox {
    box-sizing: border-box;
    padding: 0 10px;
    width: calc(100% - 128px);
}
.messenger-app--input---messagebox textarea {
    width: 100%;
    height: 70px;
    resize: none;
    margin-bottom: 1rem;
    background: #2b2b2b;
    border: none;
    color: #f7f7f7;
}
.messenger-app--input---messagebox .button {
    height: 25px;
    background: #424242;
}
.messenger-app--input---messagebox .button:hover {
    height: 25px;
    background: #4f4f4f;
}
.messenger-app--input---messagebox .button:active {
    height: 25px;
    background: #353535;
    padding-top: 6px;
}
.music-app {
    display: grid;
}
.music-app--player {
    display: grid;
    grid-template-columns: 32px 32px 32px 1fr;
    padding: 8px;
    border-bottom: 1px solid #c1c1c1;
    border-bottom-style: solid;
    border-bottom-style: dashed;
}
.music-app--player .play,
.music-app--player .perv,
.music-app--player .next {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #507597;
    color: #fff;
    height: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    font-size: 10px;
}
.music-app--player .info {
    margin-left: 10px;
    width: 550px;
}
.music-app--player .info .song-name * {
    color: black;
}
.music-app--player .info .song-name time {
    float: right;
}
.music-app--player .info .track {
    margin-top: 8px;
    height: 5px;
    width: 70%;
    background-color: #fff;
    border-top: 1px solid #507597;
    float: left;
}
.music-app--player .info .track .inner-track {
    background-color: #507597;
    height: inherit;
    width: 15px;
    opacity: 0.7;
}
.settings_delete {
    margin: -12px;
    padding: 12px;
    margin-top: -8px;
    background: #fff0;
    text-align: center;
    color: #cecece;
}
textarea {
    font-family: unset;
    border: 1px solid #202020;
    font-size: 9pt;
    min-height: 42px;
    background: #333;
    color: #eaeaea;
}
#faqhead {
    background: #464646;
    margin: 0px 5px 0px 5px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #222;
    border-bottom: 0px;
}
#faqcontent {
    background: #2d2d2d;
    margin: 0px 5px 10px 5px;
    padding: 5px 5px 5px 10px;
    border-left: 1px solid #171717;
    border-right: 1px solid #171717;
    border-bottom: 1px solid #171717;
    border-top: none;
}
.ovk-lw-container {
    display: flex;
    border-bottom: solid 1px #c4c4c4;
}
.ovk-lw-container > .ovk-lw--list {
    flex: 9;
    border-right: 1px solid #bebebe;
}
.ovk-lw-container > .ovk-lw--list > .post {
    margin-left: 10px;
    margin-top: 10px;
}
.ovk-lw-container > .ovk-lw--actions {
    flex: 5;
}
.ovk-lw-container > .ovk-lw--actions > .tile {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}
.ovk-lw-container > .ovk-lw--actions > .tile > .profile_link {
    width: auto !important;
}
.ovk-lw-container > .ovk-lw--actions > hr {
    margin: 0;
}
.profile-hints a {
    display: block;
    margin-bottom: 2px;
}
.profile-hints a img {
    vertical-align: bottom;
    content: url(/themepack/vkdark/0.0.1.0/resource/5.png);
}
.completeness-gauge {
    position: relative;
    width: 95%;
    height: 20px;
    background-color: #5b5b5b;
}
.completeness-gauge > div {
    height: 100%;
    background-color: #4a4a4a;
}
.completeness-gauge > span {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.toTop {
    position: fixed;
    padding: 20px;
    width: 100px;
    height: 100%;
    background-color: #393939;
    font-weight: 900;
    color: #fff;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.1s all;
}
body.scrolled .toTop:hover {
    opacity: 0.5;
    cursor: pointer;
}
.ugc-table tr > td {
    word-break: break-word;
    color: #bdbdbd;
}
.ugc-table tr > td:nth-of-type(1) {
    width: 120px;
}
.ugc-table tr > td:nth-of-type(2) {
    width: 270px;
}
td {
    color: #bbbbbb;
}
.psa-poster {
    max-width: 85% !important;
    margin-top: 5px !important;
    border-width: 1px;
    padding: 7px;
    background: #262626;
    margin-left: 4px;
    margin-bottom: 6px;
}
.right_big_block > div:nth-of-type(2) > div:nth-of-type(2) {
    padding: 3px 0px !important;
}
.navigation > div {
    height: 1px;
    background: #353535 !important;
    margin: 4px 0 2px;
    width: 133px;
}
hr {
    border-color: #404040;
    border-top: none;
}
.e {
    background-color: #2d2d2d;
    width: 300px;
    font-weight: bold;
}
.v {
    background-color: #2d2d2d;
}
.h {
    background-color: #6c6c6c;
    background: #6c6c6c;
    color: #fff;
}
.h h1 {
    color: #fff;
}
table {
    box-shadow: 1px 2px 3px #ccc0;
}
.name-checkmark {
    filter: grayscale(100%);
}
body.dimmed > .dimmer {
    z-index: 200;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.ovk-diag-cont {
    z-index: 1024;
    position: fixed;
    width: 420px;
    min-height: 200px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #c7bdbd94;
}

.ovk-diag {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    background-color: #222222;
    border: 1px solid #3e3e3e;
}

.ovk-diag-head, .ovk-diag-body, .ovk-diag-action {
    width: 100%;
    box-sizing: border-box;
}

.ovk-diag-head {
    height: 25%;
    padding: 5px;
    background-color: #191919;
    border-bottom: 1px solid #191919;
    color: #fff;
    font-weight: 900;
    font-size: 15px;
}

.ovk-diag-body {
    padding: 20px;
    min-height: 110px;
}

.ovk-diag-action {
    padding: 10px;
    height: 25%;
    background-color: #191919;
    text-align: right;
}

.ovk-diag-action > .button {
    margin-left: 10px;
}
.crp-entry--message.unread {
    background-color: #444343;
    padding: 5px;
    width: 346px;
    border-radius: 3px;
}

.messenger-app--messages---message.unread {
    background-color: #444343;
    padding: 5px;
    margin: -5px;
    padding-bottom: 1.2rem;
    margin-bottom: 0;
}
#wallAttachmentMenu {
    position: absolute;
    margin-top: 20px;
    border: 1px solid darkgrey;
    background-color: #222222;
    z-index: 32;
}
#wallAttachmentMenu > a {
    display: block;
    padding: 2px 6px;
    cursor: pointer;
}

#wallAttachmentMenu > a > img {
    vertical-align: middle;
}

#wallAttachmentMenu > a:hover {
    background-color: #444343;
}
.page_status_popup {
    border: 1px solid #191919;
    background-color: #222222;
}
.paginator a:hover {
    border-top: 3px solid #828282;
    background-color: #313131;
}
.accent-box {
    background-color: #222222;
    border: 1px solid #424242;
}
.post-divider {
    border-bottom: 1px #404040 solid;
}
.commentsTextFieldWrap {
    background-color: #222;
    border: 1px solid #222;
}
.comment {
    padding: 5px 0 0 0;
    border-top: 1px #404040 solid;
}
.gift_sel:hover {
    background-color: #444343;
}
.messagebox-content-header {
    background: #333333;
}
.post-share-button:hover, .post-like-button:hover {
    background-color: rgb(51 51 51);
}
.postFeedWrapper {
    background-color: rgb(34 34 34);
    border-bottom: 1px solid #404040;
}
.topic-list-item {
    border-bottom: #424242 solid 1px;
    padding: 4px;
}
.menu_divider {
    background: #424242;
}
.expand_button {
    background-color: #404040;
}

.expand_button:hover {
    background-color: #333333;
}
.summaryBar .summary {
    color: #bbbbbb;
}
.mb_tabs {
    background-color: #222222;
    border-bottom: #222222 solid 1px;
}
#votesBalance {
    margin-top: 90px;
    background-color: #f6f6f6;
    text-align: center;
    user-select: none;
}
.poll {
    padding: 8px;
    transition: .1s filter ease-in;
}
.poll-result-bar {
    position: relative;
    margin: 5px 0;
    background-color: #2a2a2a;
    height: 13pt;
    flex: 14;
}
span.poll-result-count {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #e1e1e1;
}
.poll-result-bar-sub {
    height: 100%;
    background-color: #444343;
}